{% layout 'layout.liquid' %}
{% block content %}
  {% if cars.length > 0 %}
    <h2>All of my Cars</h2>
    <ul>
      {% for car in cars %}
        <li>{{ car.make }}</li>
      {% endfor %}
    </ul>

  {% else %}
    <h2>No cars yet.....  go create some!
    </h2>
  {% endif %}


{% endblock %}