{% layout 'layout.liquid' %}
{% block content %}
  {% if fruits.length > 0 %}
    <h2>All fruits</h2>
    <ul>
      {% for fruit in fruits %}
        <li>{{ fruit.name }}</li>
      {% endfor %}
    </ul>

  {% else %}
    <h2>No fruits yet.....  go create some!
    </h2>
  {% endif %}


{% endblock %}
