{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-sm">
        <form action="/cars" method="POST">
            <fieldset>
                <legend>Create New Car</legend>
                <label class="form-label">Make:</label>
                <input 
                    type="text" class="form-control" 
                    name="name" placeholder="What make of car is it?"
                >
                <label class="form-label">Model:</label>
                <input 
                    type="color" class="form-control" 
                    name="color" placeholder="What model is the car?"
                >
                <label class="form-label">For Sale:</label>
                <input 
                    type="checkbox" class="form-check-control" 
                    name="forSale"
                >
            </fieldset>
            <input type="submit" class="btn btn-success" value="Create New Car">
        </form>
    </div>
{% endblock %}